.container{
    display: flex;
    flex: 1;
    flex-direction: column;
   
}
.header{
     display: flex;
     flex:1;
     flex-direction: row;
     justify-content: space-around;
     background-color: #cc0000 ;
     color: #ffffff ;
}